/*
Google Font Alternatives (kind of lame ones though)

Futura - Muli
Helvetica - Source Sans Pro
Optima - Arsenal
Garmond - Lora
Playfair Display - Bodini

font-family: 'Muli', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
font-family: 'Arsenal', sans-serif;
font-family: 'Lora', serif;
font-family: 'Playfair Display', serif;
*/

html {
    font-family: 'Source Sans Pro', sans-serif;
    color: #9F1828;
    //background-color: #707070;
    background: linear-gradient(338deg, rgba(36,3,0,1) 0%, rgba(255,255,255,1) 79%);

}
b{
	float: left;
	font-size: 16px;
	padding: 5px;
}

#wrapper {
    max-width: auto;

}

#globalHead {
	background: url("../UIimages/soundboard.png");
	background-position: 0px,50px,0px,0px;
	background-repeat: no-repeat;
	background-size: cover;
    //background-color: #707070;
    height: 400px;
    position: relative;
}

#logo {
	font-size: 70px;
    font-family: 'Playfair Display', serif;
    padding: 100px;
    width: 400px;
	margin: auto;
    font-variant: small-caps;
    letter-spacing: .05em;
    text-align: center;
    color: #FFFFFF;
    line-height: 1.0em;

}
h3{
	font-size: 38px;
}
h5{
	font-size: 28px;
}
#userEnter{
	font-size: 20px;
}
input[type=submit]{
	background-color: #610000;
	border: none;
	color: white;
	padding: 16px 32px;
	text-decoration: none;
	margin: 4px 2px;
	cursor: pointer;
}
.navbar {
    position: absolute;
    width: 100%;
    bottom: 0px;
    background-color: #000000;
    margin: 0;
    padding: 0;
    font-family: 'Arsenal', sans-serif;
    list-style-type: none;
	}

.navbar a {
    display: block;
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 25px;
    text-decoration: none;
}

.dropdown {
    float: left;
	margin: 10px,0px,0px,0px;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 25px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #E62C20;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #610000;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #E62C20;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#content {
	font-size: 20px;
    min-height: 200px;
    padding: 20px;
    //background-color: #707070;

    padding-bottom: 10px;
}

#form{
	float: right;
    padding-right: 10px;
    padding-top: 12px;
    background-color: #610000;
    border: none;
    color: white;
    padding: 13px 24px;
    text-decoration: none;
}

.username {
    font-family: 'Lora', serif;
    font-size: 18px;
    font-style: italic;
	color: #9F1828;
	background-color: #707070;
    border-color: #707070;
    border-bottom-left-radius: 10px;
    padding-right: 20px;
    padding-left: 5px;
    float: right;
}

.userpic {
    height: 100px;
    border-radius: 100%;
    background-color: black;
    background-image: url("../img/blackleather.png");
	background-image: cover;
    border: 2pt solid black;
    float: left;
    margin: 0 40px 20px 0px;
	padding: 10px;
}


textarea {
    width: 95%;
    color: #777;
    font-size: 1em;
    padding: 1em;
    height: 100px;
}

footer {
	
    font-family: 'Muli', sans-serif;
    padding-left: 40px;
    color: #ddd;
    background-color: #000000;
	height: 200px;
	max-width: auto;
	margin-top: 50px;

}

footer a {
	margin: 0px;
    color: #000000;
}
h4 {
	color: #FFFFFF;
	position: relative;
	margin: 10px;
	padding: 10px;
	font-size: 16px;
	font-family: 'Muli', sans-serif;

}

#messButton{
	position: relative;
	color: white;
	background-color: #610000;
	text-decoration: none;
	padding: 10px;
	width: 225px;
	height: 30px;
	text-align: center;
	margin-bottom: 70px;
}

.discoverBack {
	width: 40vw;
	display: block;
	background-color: #fdfdfd;
	margin: 2em;

}

.discoverBox {
	display: block;
	overflow: auto;
	border: 2px solid #363636;
}

.discoverInfo {
	display: inline;
	margin: 2em;
}

.discoverContainer {
  background-color: rgba(0,0,0,.1);
}

div.discoverSongbox {
	 box-shadow: 10px 10px;
	 border: 2px solid #363636;
	 text-align: right;
	 padding: 2em;
	 background-color: #fdfdfd;
}

.discoverPic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
	border: 1pt solid black;
	background-image: url("../img/blackleather.png");
	background-image: cover;
    background-color: black;
	padding: 10px;
    margin: 40px 40px 20px 20px;
    float: left;

}

p {
      text-decoration:none;
	  color: #FFFFFF;
	  float: left;
	  margin: 0px;
	padding-top: 30px;
	padding-left: 30px;
	font-size: 14px;
	font-family: 'Muli', sans-serif;
}

#links{
    text-decoration: underline;
    color: #9F1828;
    float: left;
}


/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}
