/*
Google Font Alternatives (kind of lame ones though)

Futura - Muli
Helvetica - Source Sans Pro
Optima - Arsenal
Garmond - Lora
Playfair Display - Bodini

font-family: 'Muli', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
font-family: 'Arsenal', sans-serif;
font-family: 'Lora', serif;
font-family: 'Playfair Display', serif;
*/

html {
    font-size: 16px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #222;
    background-color: white;
}

#wrapper {
    margin: auto;
    max-width: 1600px;
    border-color: #222;
    border-style: solid;
    border-width: 0 5px;
    padding: 0 5px;
}

header {
    background-color: white;
    background-color: #488DB5;
    height: 300px;
    position: relative;
}

#logo {
    font-family: 'Playfair Display', serif;
    padding: 20px 0;
    width: 200px;
    margin: auto;
    font-variant: small-caps;
    letter-spacing: .05em;
    font-size: 1.5em;
    text-align: center;
    color: white;
    line-height: 1.0em;
}

/* nav {
    position: absolute;
    width: 100%;
    bottom: 0;
}

nav ul {
    font-family: 'Muli', sans-serif;
    list-style-type: none;
    overflow: hidden;
    color: #ddd;
    background-color: #488DB5;
    margin: 0;
    padding: 0;
}

nav li {
    float: middle;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 6px 8px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #222;
}
*/
.navbar {
    position: absolute;
    width: 100%;
    bottom: 0;
    color: #ddd;
    background-color: #222;
    margin: 0;
    padding: 0;
    font-family: 'Muli', sans-serif;
    list-style-type: none;}

.navbar a {
    display: block;
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: right;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #222;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#content {
    min-height: 200px;
    padding: 0 50px;
    background-color: white;
    padding-bottom: 80px;
}

.username {
    font-family: 'Lora', serif;
    font-size: .8em;
    font-style: italic;
    text-align: right;
    padding-right: 5px;
}

.userpic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: contain;
    background-color: #222;
    background-image: url("../img/blackleather.png");
    border: 2pt solid #222;
    //float: left;
    margin: 0 40px 20px 0px;
}


textarea {
    width: 95%;
    color: #777;
    font-size: 1em;
    padding: 1em;
    height: 100px;
}

footer {
    font-family: 'Muli', sans-serif;
    padding: 20px;
    color: #ddd;
    background-color: #222;
    font-size: .9em;
}

footer a {
    color: white;
}
